.user-profile-field {
    display: flex;
    padding: 10px;
    height: 100%;
    gap: 5px;
}


.option-view-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-options-field {
    padding: 5px;
    text-align: center;
    font-size: larger;
    border-right: var(--color-gris-plata) solid 1px;
}