.user-profile-field {
    display: flex;
    padding: 10px;
    height: 100%;
    gap: 5px;
}

.profile-options-field {  
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
    padding: 5px;
    text-align: center;
    border-right: var(--color-gris-plata) solid 1px;
}

.options-field{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70%;
}