.dashboard-container {
    display: flex;
    padding: 3rem 5rem 3rem 5rem;
    height: 100%;
    gap: 5px;
}


.option {
    border-radius: 0px 20px 20px 0px;
    background-color: var(--color-blanco);
}