.dashboard-container {
    display: flex;
    padding: 10px;
    height: 100%;
    gap: 5px;
}


.option {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: var(--color-blanco);
}