<h2>Security Settings</h2>
<div class="security-setting-field">
    <div class="inputs-field row row-cols-2 gy-2 mt-3">        
        <div class="col">
            <label>Login</label>
            <input type="password" class="form-control">
        </div>
        <div class="col">
            <label>Two Factor Auth</label>
            <input type="password" class="form-control">
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                  Recovery
                </label>
              </div>
        </div>
    </div>
    <div class="btns-field mt-3">
        <button type="button" class="btn btn-primary">Update</button>&nbsp;
        <button type="button" class="btn border">Cancel</button>
    </div>
</div>