<h2>Accounts Settings</h2>
<div class="user-info-field">
    <div class="inputs-field row row-cols-2 gy-2 mt-3">
        <div class="col">
            <label>First Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col">
            <label>Last Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col">
            <label>Email address</label>
            <input type="email" class="form-control">
        </div>
        <div class="col">
            <label>Phone Number</label>
            <input type="text" class="form-control">
        </div>
        <div class="col">
            <label>Designation</label>
            <input type="text" class="form-control">
        </div>
        <div class="col">
            <label class="form-label">Profile Image</label>
            <input type="file" class="form-control">
        </div>
        <div class="col-12">
            <label class="form-label">Bio</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="btns-field mt-3">
        <button type="button" class="btn btn-primary">Update</button>&nbsp;
        <button type="button" class="btn border">Cancel</button>
    </div>
</div>