<h2>Notification Settings</h2>
<div class="security-setting-field">
    <div class="inputs-field row flex-column gap-4 gy-2 mt-3">

        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget dapibus erat. Integer molestie ex feugiat mi efficitur malesuada vitae sit amet nisl.
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Etiam fermentum ultrices mi, et facilisis mauris fringilla eu. Vestibulum a ante ex. Nulla facilisi. Mauris malesuada tempor arcu eget molestie. 
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                   Nulla facilisi. Quisque iaculis posuere leo, sed auctor est mollis vel.
                </label>
            </div>
        </div>
    </div>
    <div class="btns-field mt-3">
        <button type="button" class="btn btn-primary">Update</button>&nbsp;
        <button type="button" class="btn border">Cancel</button>
    </div>
</div>