<div class="side-menu-container container">
    <div class="header">
        <i class="bi bi-columns-gap text-white"></i>
        <div class="logo">
            Agile
        </div>
    </div>
    <hr>
    <div class="body">
        <div class="profile list-group list-group-flush">
            <p>User</p>
            @for (userOption of userOptions; track $index) {
            <button [routerLink]="'User/' + userOption.path" type="button" class="list-group-item list-group-item-action">
                <span>{{userOption.title}}</span>
            </button>
            }
        </div>
        <div class="options list-group list-group-flush">
            <p>Practices</p>
            @for (practice of practiceOptions; track $index) {
            <button [routerLink]="'Practice/' + practice.path" type="button"
                class="list-group-item list-group-item-action">
                <span>{{practice.title}}</span>
            </button>
            }
        </div>
    </div>
    <hr>
    <div class="footer">
        <button class="btn btn-logout">
            <i class="bi bi-box-arrow-left"></i>
            <span>Log Out</span>
        </button>
    </div>
</div>