<div class="side-menu-container container">
    <div class="header">
        <i class="bi bi-columns-gap text-white"></i>
        <div class="logo">
            <h3>Agile</h3>
        </div>
    </div>
    <hr>
    <div class="body">
        <div class="profile list-group list-group-flush">
            <h5>User</h5>
            @for (userOption of userOptions; track $index) {
            <a [routerLink]="'User/' + userOption.path" class="list-group-item list-group-item-action">
                <span>{{userOption.title}}</span>
            </a>
            }
        </div>
        <div class="options list-group list-group-flush">
            <h5>Practices</h5>
            @for (practice of practiceOptions; track $index) {
            <a [routerLink]="'Practice/' + practice.path"
                class="list-group-item list-group-item-action">
                <span>{{practice.title}}</span>
            </a>
            }
        </div>
    </div>
    <hr>
    <div class="footer">
        <button class="btn btn-logout">
            <i class="bi bi-box-arrow-left"></i>
            <span>Log Out</span>
        </button>
    </div>
</div>