<div class="tasks-field">
    <div class="options">
        <div class="task-actions col-6">
            <button type="submit"><i class="bi bi-plus-lg"></i></button>
        </div>
        <div class="task-categories col-6">
            <label class="work col-6">
                <input type="radio" name="category" id="work" value="work">
                <span class="bubble"></span>
                <div>Work</div>
            </label>
            <label class="personal col-6">
                <input type="radio" name="category" id="personal" value="personal">
                <span class="bubble"></span>
                <div>Personal</div>
            </label>
        </div>
    </div>
    <div class="task-list">
       
    </div>
</div>