.tasks-field {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.task-list {
    border: var(--color-gris-oscuro) solid;
    height: 80%;
}

.options {
    display: flex;
    height: 20%;
}

.task-categories {
    display: flex;
    gap: 1rem;
    padding: 20px;
}

.task-actions,
.task-categories label {
    display: flex;
    align-items: center;
}

.task-categories label {
    justify-content: center;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--color-azul-medio);
}

.bubble::after {
    content: "";
    display: block;   
    opacity: 0;
    width: 0px;
    height: 0px;
    background: var(--color-azul-medio);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

input:checked~.bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}